<!DOCTYPE html>
<html>
<head>
    {% include header.html %}
    <style>
        .navbar-inverse .navbar-nav > li > a {
            transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            background: rgba(100, 100, 100, 0.4);
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/bq12345/bq/">白强</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.baseurl }}index.html">首页</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}blog.html">博客</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}about.html">关于</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}love.html" target="_blank">Forever</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {{ content }}
    </div>
</div>

<!-- ==============Footer===========-->
{% include footer.html %}
</body>

</html>